body{
    width:100vw;
    height: 100vh;
    background-color: whitesmoke;
}

main{
    width: 40%;
    height: 30%;
    margin: auto;
    margin-top: 10%;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

h1{
    width:100%;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

a{  
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}