body{
    box-sizing: border-box;
    width:100vw;
    height: 100vh;
    
}

.topo{
    box-sizing: border-box;
    width: 100%;
    height: 15%;

    background-color: black;

}

.container-img{
    box-sizing: border-box;
    width: 250px;
    height: 80%;
    position: relative;
    left: 30px;
    top:5px;
}

.link-img-topo{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.img-topo{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
   
}
.btn-menu{
    box-sizing: border-box;
    width:100px;
    height: 40px;
    position: absolute;
    right: 70px;
    top:35px;
    border: .2px solid white; 
    z-index: 1000;
 
}

.btn-menu:hover{
    opacity: 0.5;
}

.btn-menu p{

    width:100%;
    height: 100%;
    text-decoration:none;
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    cursor:pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}


/* Links escondidos de navegação do menu  */

.menu-escondido{

    box-sizing: border-box;
    width: 25%;
    height:260px;
    background-color: lightgray;
    opacity: 0;
    transform: translateY(-180%);
    transition: transform 0.3s ease;
    position: absolute;
    right: 0px;
    z-index: 10;
    border-top: 1px solid white;
 
}

.mostra-menu{
    transform: translateY(0);
    opacity: 1;
    
}

.menu-escondido-links{

    box-sizing: border-box;
    width:100%;
    height:260px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: black;
    text-align: center;
    position: absolute;
    right: 0px;

}

.menu-escondido-links ul{

    width:55%;
    margin: auto ;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.menu-escondido-links ul:hover{
    opacity: 0.5;
}


.menu-escondido-links ul li a{

    text-decoration: none ;
    color:white;
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
}

/* Fim dos Links escondidos de navegação do menu  */


.div-body{
    padding-top: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-principal{

    width: 100%;
    height: 30px;
    margin: auto;
    padding: 5px;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;

}

.conteudo-principal{

    box-sizing: border-box;
    width: 60%;
    height: 400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.incluir-projetos{

    width: 60%;
    margin-left: 5px;
    display: inline-block;

}

.incluir-projetos article{
    width: 100%;
    margin-top: 20px;
}

.incluir-projetos article p{

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.paragrafo-mensagem{
    width:100%;
    height: 150px;
    overflow-y: scroll;
    overflow-wrap: break-word;

    border: 1px solid black;

}

#voltar-btn{
    margin-top: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

#voltar-btn:hover{
    color:blue;
}

.incluir-projetos form h3{

    width: 100%;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
    
}

 form label{

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.15em;
   
}

#profissional{

    margin-bottom: 10px;
}

#nome-projeto, #tecnologias, #img-upload {

    width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;

}

#descricao{

    width: 99%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.incluir-projetos button{

    margin-top: 5px;
    width: 80px;
    height: 30px;
    float: right;
    cursor: pointer;

}

.excluir-projetos{

    width: 40%;
    height: 300px;
    margin: auto;
    background-color: yellow;
    border: 1px solid black;
    display: none;
    overflow: scroll;

}

.mostra-excluir-projetos{

    display: inline-block;
}


footer{
    width: 100%;
    background-color: black;
    margin-top: 20px;

    position: absolute;
    bottom: 0px;
    
    box-sizing: border-box;
    padding: 20px;
    height:70px;
    display: flex;
    flex-direction: row;
}

footer p{

    color:white;
    width: 200px;
    position: relative;
    top:2.5px;
    font-size: 1.1em;
    font-style: 'Times New Roman', Times, serif;
    color:white;
    display: inline;
}

footer a{
    padding-top: 0;
    margin-left:7px ;
    position: relative;
    top:-9px;
    font-size: 0;
    color:black;
    
}

/* Design Responsivo */

@media screen and (max-width:768px){

    body{
        width:100vw;
    }

    .topo{    

        width: 100%;
        height: 25%;
        background-color: black;
    
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .container-img{

        position:unset;
        height: 50%;

    }

    .img-topo{
        margin: unset;

    }

    .btn-menu{
   
        box-sizing: border-box;
        width:120px;
        height: 40px;
        position: unset;
        border: .2px solid white;
        
    }
    
    .btn-menu:hover{
        opacity: 0.5;
    }

/* Links escondidos de navegação do menu  */

.menu-escondido{

    box-sizing: border-box;
    width: 100%;
    height:220px;
    background-color: lightgray;
    opacity: 0;
    transform: translateY(-180%);
    transition: transform 0.3s ease;
    position: none;
    text-align: center;
    z-index: 10;
    border-top: 1px solid white;
 
}

.mostra-menu{
    transform: translateY(0);
    opacity: 1;
    
}

.menu-escondido-links{

    box-sizing: border-box;
    width:100%;
    height:220px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: black;
    text-align: center;
    position:  none;

}

/* Fim dos Links escondidos de navegação do menu  */

    
    .div-body{
        box-sizing: border-box;
        width: 100%;
    }

    .titulo-principal{
        width: 80%;
   
    }

    .conteudo-principal{

        width: 100%;
        height: 80%;
        border:none;

    }

    footer{
        width: 100vw;
        height:13%;
        padding-top:5px;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }

    .p-footer{

        width:100%;
        text-align: center;
        margin-bottom: 15px ;
    
    }

    .links-footer{
        width:100%;
        text-align: center;
    }

}

